.select2-dropdown {
  z-index: 1055 !important;
}

.form-login {
  background: #7cbfc7;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.new-list {
  background-color:#7cbfc7;
  border-radius: 12px;
}

.link-nav {
  color:#064d55;
}
